@page "/api/Promocion_Producto/Crear"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;


<!DOCTYPE html>
<html>

<head>
    <title>Promocion producto</title>
</head>

<body>

    <header>

        <h1 class="text-center">Promocion de los productos</h1>

        <EditForm Model="promocion_producto" OnValidSubmit="Grabar">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label for="descuento_pocercentaje">Nombre de producto</label>
                <input placeholder="Nombre del producto" type="text" step="0.01" min="0"
                       @bind="promocion_producto.Nombre_Producto" class="form-control" />
                <ValidationMessage For="@(() => promocion_producto.Nombre_Producto)" />
            </div>

            <div class="form-group">
                <label for="descuento_pocercentaje">Descuento porcentaje</label>
                <input placeholder="Descuento en porcentaje" type="number" step="0.01" min="0"
                       @bind="promocion_producto.Descuento_Porcentaje" class="form-control" />
                <ValidationMessage For="@(() => promocion_producto.Descuento_Porcentaje)" />
            </div>

            <div class="form-group">
                <label for="apellido">Precio promocional</label>
                <input placeholder="Precio promocional" type="number" step="0.01" min="0"
                       @bind="promocion_producto.Precio_Promocional" class="form-control" />
                <ValidationMessage For="@(() => promocion_producto.Precio_Promocional)" />
            </div>

            |

            <div>
                <button class="btn btn-primary" type="submit">Crear promo !</button>
                <button class="btn btn-secondary" onclick="Cancelar">Cancelar</button>
            </div>

        </EditForm>

    </header>

    <main>

    </main>

    <footer>
        <p>&copy; 2025 La Nonna Personal</p>
    </footer>

</body>

</html>

@code {
    private Promocion_Producto promocion_producto = new Promocion_Producto();

    private async Task Grabar()
    {
        var httpRespuesta = await http.Post<Promocion_Producto>("api/Promocion_Producto", promocion_producto);

        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/");
    }
}
