@page "/Administracion"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;

<h3>Administracion</h3>

<div>
    <a href="api/Usuario/Lista">Ver usuarios registrados</a>
</div>

<div>
    <a href="/api/Promocion/Crear">Cargar promos</a>
</div>


@code {

}
