@page "/"

<!DOCTYPE html>
    <html>
    <head>
        <title>Home</title>
    </head>
    <body>

        <header>
            <h1>Bienvendido a nuestra página principal</h1>
            <h2>La nonna Pastas Web</h2>
        </header>

        
        <main>

        </main>
        
        <footer>

        </footer>
        
    
    </body>
    </html>
