@page "/"

<!DOCTYPE html>
<html>

    <head>
        <title>Home</title>
    </head>
    
    <body>


     @*    <div>
            <p>Para registrarte, hace click en el botón</p>
            <a class="btn btn-primary" href="/api/Usuario/Registro/Crear">Registrate</a>
        </div> *@

        <div class="btn btn-info">
            <a href="/api/Usuario/Registro/Login">Iniciar sesión</a>
        </div>

        <header>
            <h1>Bienvendido a nuestra página principal</h1>
            <h2>La nonna Pastas Web</h2>
        </header>

        
        <main>

        </main>
        
        <footer>

        </footer>
        
    
    </body>

</html>
