@page "/Nosotros"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;

<h1 class="text-center bg-danger">Nosotros</h1>

<div class="alert-danger text-center text-uppercase">
    <p>En construcción</p>
</div>

<div class="alert-danger text-center text-uppercase">
    <p>En construcción</p>
</div>

<div class="alert-danger text-center text-uppercase">
    <p>En construcción</p>
</div>

<div class="alert-danger text-center text-uppercase">
    <p>En construcción</p>
</div>

<h3>Poner acá la historia de la fábrica de pastas</h3>

<div>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dignissim eleifend nunc, 
        quis lobortis magna iaculis eget. Aenean blandit purus mi, laoreet iaculis ipsum ultrices non. 
        Donec viverra, turpis in sollicitudin condimentum, velit felis fermentum tortor, vel gravida 
        purus massa sed neque. Maecenas finibus consequat mauris, sit amet hendrerit lorem tempus in. M
        auris et cursus felis. Praesent sit amet malesuada sapien. In rutrum suscipit diam, eget auctor 
        neque ultricies non. Donec eget leo sed libero condimentum tristique.

        Vivamus aliquam lorem felis, eu mollis tellus commodo et. Phasellus interdum convallis vehicula. 
        Etiam vulputate augue eget pretium porttitor. Fusce auctor pellentesque purus, non varius lacus dapibus quis.
        Quisque iaculis a lectus a imperdiet. Suspendisse ipsum tellus, scelerisque eu ligula non, 
        mattis consectetur eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
        Nunc ac varius eros. Sed dui libero, pellentesque sed luctus in, sodales eget quam. Nulla sit amet libero neque. 
        Etiam lacus sem, vehicula eget est accumsan, faucibus sagittis elit. Sed gravida, velit nec fermentum condimentum, 
        justo odio fringilla enim, sed sodales sem augue in velit. Vestibulum finibus egestas tortor, maximus 
        efficitur nisl egestas in. Pellentesque tincidunt vitae neque a congue.

        Integer sit amet dui rhoncus, dignissim libero vitae, venenatis turpis. Maecenas fringilla sagittis
        metus, varius tempus ex aliquet ut. Duis condimentum tortor vitae justo cursus tempus. 
        In euismod odio ut fringilla pharetra. Vivamus egestas turpis dolor, sed molestie arcu rhoncus nec. 
        Maecenas aliquam maximus rutrum. Nunc in quam rhoncus, iaculis odio eget, pellentesque felis. 
        Etiam vulputate at orci ut tincidunt. Donec interdum vitae velit vitae consectetur. 
        Aliquam feugiat ornare lacus, sit amet cursus est finibus sed.

        Aenean hendrerit malesuada facilisis. Sed mattis blandit efficitur. 
        In posuere diam lacus, vitae varius est maximus quis. Nam et euismod lacus, a tristique sem.
        Fusce ullamcorper pretium faucibus. Vestibulum risus sapien, venenatis et mi vel, 
        sodales dignissim nibh. Integer dignissim condimentum nisl vitae laoreet. Aenean et convallis nibh. 
        Nam eu elementum lectus, ac vulputate sapien. Etiam lacinia malesuada malesuada. Mauris id blandit felis. 
        Etiam augue arcu, vehicula ac lobortis vitae, placerat nec orci.
    </p>

</div>

<div class="alert-danger text-center text-uppercase">
    <p>En construcción</p>
</div>

<div class="alert-danger text-center text-uppercase">
    <p>En construcción</p>
</div>

<div class="alert-danger text-center text-uppercase">
    <p>En construcción</p>
</div>

<div class="alert-danger text-center text-uppercase">
    <p>En construcción</p>
</div>





