@page "/PantallaPedidos"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;

<!DOCTYPE html>
    <html>
    
    <head>
        <title>Pedidos</title>
    </head>
    
    <body>
        
        <header>


        <h1>Lista de <strong>pedidos por fecha</strong></h1>

        <div>
            <a class="btn btn-warning btn-sm" href="/api/Pedido/Lista">Ver fecha de pedidos</a>
        </div>
        
        <div>
            <a class="btn btn-warning btn-sm" href="#">Estado de pedidos</a>
        </div>

        </header>

        <main>

        </main>

        <footer>

        </footer>
    
    </body>
    </html>

@code {

}
