@page "/PantallaPedidos"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;




    <h1>Lista de <strong>Estado de pedidos por fecha</strong></h1>

    <div>
        <a class="btn btn-warning btn-sm" href="/api/Pedido/Lista">Ver fecha de pedidos</a>
    </div>
        
    <div>
        <a class="btn btn-warning btn-sm" href="/api/Estado_Pedido/Lista">Estado de pedidos</a>
    </div>

       

@code {

}
