@page "/SeccionUsuarios"
@inject IHTTPServicio http;
@inject HttpClient Http;
@inject NavigationManager navigationManager;


@* <h1>SeccionUsuarios</h1> *@

<div class="container mt-4 p-4 rounded shadow-lg bg-warning-subtle border border-warning">
    <h1 class="text-center text-danger-emphasis display-4 fw-bold fst-italic">
      Registro de clientes
    </h1>
</div>

<div class="col-12 text-center mt-4">
    @*  <button class="btn btn-success me-2" type="submit">✅ Registrar</button> *@
    @* <button class="btn btn-outline-secondary" type="button" @onclick="Cancelar">Cancelar</button> *@
    <button class="btn btn-outline-secondary" type="button" @onclick="RegistrarUsuario">Registrate</button>
    <button class="btn btn-outline-secondary" type="button" @onclick="TipoCliente">Tipo de cliente</button>
    <button class="btn btn-outline-secondary" type="button" @onclick="ListaRoles">Rol</button>
  
</div>





@code {
   
    private void RegistrarUsuario()
    {
        navigationManager.NavigateTo("/api/Usuario/Registro/Crear");
    }


    private void TipoCliente()
    {
        navigationManager.NavigateTo("/api/Tipo_Cliente/Crear");
    }
    
    private void ListaRoles()
    {
        navigationManager.NavigateTo("/api/Rol");
    }
    
  
}
