@page "/PantallaUsuarios"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;

<!DOCTYPE html>
    <html>
    
        <head>
            <title>usuarios</title>
        </head>

        <body>
        
            <header>
                <h1>usuarios</h1>

                <div>
            <a class="btn btn-outline-secondary btn-sm" href="/api/Usuario/Login">Iniciar sesión</a>
                </div>

            </header>
            <main>

            </main>
            <footer>

            </footer>
    
        </body>

    </html>

@code {
    //no hay logica por ahora
}
