@* @page "/LoginUsuario"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;


   
                
<h1>usuarios</h1>

<div>
    <a class="btn btn-outline-secondary btn-sm" href="/LoginUsuarios">Iniciar sesión</a>
</div>

           

@code {
   
}
 *@