@page "/LoginUUsuarios"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;

<!DOCTYPE html>
    <html>
    
        <head>
            <title>usuarios</title>
        </head>

        <body>
        
            <header>
                
                <h1>usuarios</h1>

                <div>
                    <a class="btn btn-outline-secondary btn-sm" href="/LoginUsuarios">Iniciar sesión</a>
                </div>

             @*    <form method="POST" action="/login">
                    <input type="text" name="username" required />
                    <input type="password" name="password" required />
                    <button type="submit">Iniciar sesión</button>
                </form> *@

            </header>

            <main>

            </main>
            
            <footer>

            </footer>
    
        </body>

    </html>

@code {
    //no hay logica por ahora
}
