<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FabricaPastas.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
@* 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Listas" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Listas
            </NavLink>
        </div> *@

       @*  <div class="nav-item px-3">
            <NavLink class="nav-link" href="/api/Usuario/Lista" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Usuarios
            </NavLink>
        </div> *@
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/api/Tipo_Cliente" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Tipo_Cliente
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/api/Rol" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Rol
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/api/Promocion/Lista" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Promocion
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/api/Promocion_Usuario/Lista" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Lista promo_usuario
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/api/Promocion_Producto/Lista" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Promo_prod_List
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/api/Producto/Lista" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Producto
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/api/Pedido/Lista" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Pedido
            </NavLink>
        </div>
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/api/Detalle_Pedido/Lista" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Detalle Pedido
            </NavLink>
        </div>
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/api/Detalle_Lista_Precio/Lista" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Detalle Lista precio
            </NavLink>
        </div>
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/api/ListaEstado_Pedido/Lista" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Estado de Pedido
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/api/Forma_Pago/Lista" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Forma pago
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/api/Detalle_Lista_Precio/Lista" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Detalle lista precio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/api/Categoria_Producto/Lista" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Lista categoría
            </NavLink>
        </div>

       

     @*    <div class="nav-item px-3">
            <NavLink class="nav-link" href="/api/Categoria_Producto/Crear" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Categoria producto
            </NavLink>
        </div> *@

      
        
      @*   <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://localhost:7093/swagger" target="blank">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Swagger
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
