@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FabricaPastas.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> *@


<div class="position-fixed top-0 start-0 vh-100 bg-light border-end shadow-sm p-3 overflow-auto" style="width: 260px;" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        
        <div class="nav-item mb-2 bg-primary rounded">
            <NavLink class="nav-link text-white fw-semibold" href="/SeccionUsuarios" Match="NavLinkMatch.All">
                <i class="bi bi-box-arrow-in-right me-2"></i>Sección usuarios
            </NavLink>
        </div>

     @*    <div class="nav-item mb-2 bg-success rounded">
            <NavLink class="nav-link text-white fw-semibold" href="/Secc-Admin" Match="NavLinkMatch.All">
                <i class="bi bi-box-arrow-in-right me-2"></i>Sección Admin
            </NavLink>
        </div> *@
@* 
        <div class="nav-item mb-2 bg-warning rounded">
            <NavLink class="nav-link text-dark fw-semibold" href="/SeccionProductos" Match="NavLinkMatch.All">
                <i class="bi bi-box-arrow-in-right me-2"></i>Sección productos
            </NavLink>
        </div> *@

       @*  <div class="nav-item mb-2 bg-info rounded">
            <NavLink class="nav-link text-white fw-semibold" href="/SeccionPedidos" Match="NavLinkMatch.All">
                <i class="bi bi-box-arrow-in-right me-2"></i>Sección pedidos
            </NavLink>
        </div> *@
       
        <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill me-2"></i>Inicio
            </NavLink>
        </div>

        <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/Nosotros" Match="NavLinkMatch.All">
                <i class="bi bi-box-arrow-in-right me-2"></i>Nosotros
            </NavLink>
        </div>
                  
        
      @*   <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Promocion_Usuario/Crear" Match="NavLinkMatch.All">
                <i class="bi bi-gift-fill me-2"></i>Promo_Usuario
            </NavLink>
        </div> *@

       @*  <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Promocion_Usuario/Lista" Match="NavLinkMatch.All">
                <i class="bi bi-card-list me-2"></i>Promo_Usuario(L)
            </NavLink>
        </div> *@

       @*  <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Promocion_Producto/Crear" Match="NavLinkMatch.All">
                <i class="bi bi-bag-plus-fill me-2"></i>Promo_Producto
            </NavLink>
        </div>

        <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Promocion_Producto/Lista" Match="NavLinkMatch.All">
                <i class="bi bi-card-list me-2"></i>Promo_Producto(L)
            </NavLink>
        </div> *@

       @*  <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Promocion/Crear" Match="NavLinkMatch.All">
                <i class="bi bi-stars me-2"></i>Promoción
            </NavLink>
        </div> *@

      @*   <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Promocion/Lista" Match="NavLinkMatch.All">
                <i class="bi bi-card-list me-2"></i>Promociónes activas
            </NavLink>
        </div> *@

      


        <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Metodo_Entrega/Crear" Match="NavLinkMatch.All">
                <i class="bi bi-box-arrow-in-right me-2"></i>Metodo de entrega
            </NavLink>
        </div>

        
        <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Metodo_Entrega/Lista" Match="NavLinkMatch.All">
                <i class="bi bi-truck me-2"></i>Método de entrega(L)
            </NavLink>
        </div>

        <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Lista_Precio/Crear" Match="NavLinkMatch.All">
                <i class="bi bi-cash-stack me-2"></i>Nueva Lista_precio
            </NavLink>
        </div>

        <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Lista_Precio/Lista" Match="NavLinkMatch.All">
                <i class="bi bi-card-list me-2"></i>Lista_precio(L)
            </NavLink>
        </div>

        <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Detalle_Lista_Precio/Crear" Match="NavLinkMatch.All">
                <i class="bi bi-file-earmark-plus me-2"></i>DetalleListaPrecio
            </NavLink>
        </div>

        
        <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Forma_Pago/Crear" Match="NavLinkMatch.All">
                <i class="bi bi-credit-card me-2"></i>Forma_Pago/Crear
            </NavLink>
        </div>

        
        <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Forma_Pago/Lista" Match="NavLinkMatch.All">
                <i class="bi bi-credit-card me-2"></i>Forma_Pago(L)
            </NavLink>
        </div>

        <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Estado_Pedido/Lista" Match="NavLinkMatch.All">
                <i class="bi bi-clipboard-check me-2"></i>Estado_Pedido(L)
            </NavLink>
        </div>

      
        <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Detalle_Pedido/Crear" Match="NavLinkMatch.All">
                <i class="bi bi-file-earmark-plus me-2"></i>Detalle_Pedido/Crear
            </NavLink>
        </div>

        <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Detalle_Pedido/Lista" Match="NavLinkMatch.All">
                <i class="bi bi-card-list me-2"></i>Detalle_Pedido(L)
            </NavLink>
        </div>

       
        <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Categoria_Producto/Crear" Match="NavLinkMatch.All">
                <i class="bi bi-tags-fill me-2"></i>Crear Categoria Prod
            </NavLink>
        </div>
        <div class="nav-item mb-2">
            <NavLink class="nav-link text-dark fw-semibold" href="/api/Categoria_Producto/Lista" Match="NavLinkMatch.All">
                <i class="bi bi-card-list me-2"></i>Categoria producto (L)
            </NavLink>
        </div>

       
        <div class="nav-item mt-4">
            <NavLink class="nav-link text-primary fw-bold" href="https://localhost:7093/swagger" target="_blank">
                <i class="bi bi-list-nested me-2"></i>Swagger
            </NavLink>
        </div>

    </nav>

</div>
       
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
