<!DOCTYPE html>
 
    <html>
    <head>
        <title>Metodo_Entrega</title>
    </head>
    <body>
        
        <header>
            
            <h1>Metodo_Entrega</h1>

        </header>

        <main>

        </main>

        <footer>

        </footer>
    
    </body>
    </html>

@code {

}
