@page "/api/Categoria_Producto/Crear"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;


@* <h1 class=" text-center">Acá podes cargar la categoría de productos</h1>

<EditForm Model="categoria_producto" OnValidSubmit="Grabar">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="nombreCategoria">Nombre de categoría</label>
        <input type="text" @bind="categoria_producto.Nombre_Categoria" class="form-control" />
        <ValidationMessage For="@(() => categoria_producto.Nombre_Categoria)" />
    </div>

    <div>
        <button class="btn btn-primary" type="submit">Crear categoría</button>
        <button class="btn btn-secondary" onclick="Cancelar">Cancelar</button>
    </div>
                
</EditForm> *@

<h1 class="text-center mb-4">📂 Carga de categoría de productos</h1>

<EditForm Model="categoria_producto" OnValidSubmit="Grabar" class="container">
    <DataAnnotationsValidator />

    <div class="row justify-content-center g-3">
        <div class="col-md-6">
            <label for="nombreCategoria" class="form-label">Nombre de categoría</label>
            <input type="text" id="nombreCategoria" @bind="categoria_producto.Nombre_Categoria"
                   class="form-control" placeholder="Ej: Bebidas, Snacks, Limpieza..." />
            <ValidationMessage For="@(() => categoria_producto.Nombre_Categoria)" />
        </div>

        <div class="col-md-6">
            <label for="nombreCategoria" class="form-label">Imagen</label>
            <input type="file" id="nombreCategoria" @bind="categoria_producto.Imagen_Url"
                   class="form-control" placeholder="Ej: Bebidas, Snacks, Limpieza..." />
            <ValidationMessage For="@(() => categoria_producto.Imagen_Url)" />
        </div>

        <div class="col-12 text-center mt-4">
            <button class="btn btn-success me-2" type="submit">✅ Crear categoría</button>
            <button class="btn btn-outline-secondary" type="button" @onclick="Cancelar">Cancelar</button>
        </div>
    </div>
</EditForm>


@code {
    private Categoria_Producto categoria_producto = new Categoria_Producto();

    private async Task Grabar()
    {
        var httpRespuesta = await http.Post<Categoria_Producto>("api/Categoria_Producto", categoria_producto);

        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/api/Categoria_Producto/Lista");
    }
}
