@page "/api/Forma_Pago/Lista"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;


<!DOCTYPE html>
<html>

<head>
    <title>Editar Pedidos registrados</title>
</head>

<body>

    <header>
        <h1 class="text-center">Lista pedidos registrados en el sistema</h1>
    </header>

    <main>

      @*   <div>
            <p>Formas de pago</p>
            <a class="btn btn-primary" href="/api/Pedido/Crear">Pagos</a>
        </div> *@

        <table>

            <tr>
                <th>Fecha pedido</th>
                <th>Total</th>

            </tr>

            @if (Mensaje == null)
            {
                if (Lista_forma_pago == null)
                {
                    <p>Buscando....</p>
                }
                else if (Lista_forma_pago.Count == 0)
                {
                    <p>No existen listas de pedidos </p>
                }
                else
                {
                    @foreach (var item in Lista_forma_pago)
                    {
                        <tr>

                            <td>@item.Metodo</td>
                           


                            @*   <td>
                                    <a class="btn btn-warning btn-sm" href="/api/Usuario/Editar/@item.Id">Modificar</a>
                                </td> *@



                        </tr>

                    }
                }
            }
            else
            {
                <p> Error: @Mensaje</p>
            }


        </table>

    </main>


    <footer>
        <p>&copy; 2025 La Nonna Personal</p>
    </footer>

</body>

</html>

@code {


    List<Forma_Pago> Lista_forma_pago;
    // Usuario usuario;

    string Mensaje;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Leer();
    }

    #region Leer usuarios
    private async Task Leer()
    {
        var resp = await http.Get<List<Forma_Pago>>("api/Forma_Pago");

        string Mensaje = "";

        if (!resp.Error)
        {
            Lista_forma_pago = resp.Respuesta;
        }
        else
        {
            Mensaje = await resp.ObtenerError();
        }
    }
    #endregion




}






